@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}

:root {
  --primary: #ff3700;
}

body {
  /* display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  color: #ffffff;
  /* background: #081b29; */
  background: url('../images/bg-TheGODFather.jpg') no-repeat;
  padding-top: 6rem;
  /* background: url('../images/Ragnar-HD-Wallpaper.jpg') no-repeat; */
  /* background-size: cover;
  background-position: center;
  width: 100%; */
}




.home {
  height: 100vh;
  display: flex;
align-items: center;
padding: 0 6.5%;
/* left: -50px; */
}

.home-content {
 max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 0.3;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #ff3700;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #ff3700;
  border: 2px solid #ff3700;
  border-radius: 8px;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  /* z-index related to the Login and signup button. */
  z-index: 1;
  /* Overflow to hide the curves in the buttons */
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #ff3700;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #ff3700;
}

.btn-box a:nth-child(2):hover {
  color: #ffffff;
}



.btn-box a:nth-child(2)::before {
  background: #ff3700;
}



.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* Login and SignUp background needs to be deleted later. */
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;

}


/* NEW LOGOS */

/* .home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  background: #ffffff;
  display: flex; */
/* Justify-Content is the space between the logos */
  /* justify-content: space-between; 
} */

/* Bottom Logos */
/* .home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff3700;
  border-radius: 50%;
  font-size: 20px;
  color: #ff3700;
  text-decoration: none;
} */



/* LOGO */
.sci {
  position: absolute;
  bottom: 50px;
  right: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.sci a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.sci a:hover {
  color: var(--primary);
}







/* ANYTHING UNDER HERE IS FOR THE HEADER */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  position: relative;
  width: 400px;
  height: 550px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box h2{
  color: #ffffff;
  text-align: center;
  font-size: 32px;
}

.form-box .input-box{
  position: relative;
  margin: 30px 0;
width: 310px;
border-bottom: 2px solid #fff;
}

.form-box .input-box input{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #ffffff;
  font-size: 16px;
}


input::placeholder{
  color: #ffffff;
}

.btn{
  color: #000000;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover{
  color: var(--primary);
  text-decoration: underline;
}

.group{
  display: flex;
  justify-content: space-between;
}

.group span a{
  color: #fff;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.group a:focus{
  text-decoration: underline;
}

.form-box .group span a:hover{
  color: #ff3700;
  text-decoration: underline;
}










header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 10;
}

.logo {
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 800;
  text-decoration: none;
}

.logo:hover {
  color: var(--primary);
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover a {
  color: var(--primary);
  text-decoration: underline;
}


/* .search {
  position: relative;
  width: 300px;
  height: 40px;
} */

/* .search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
 border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px !important;
  backdrop-filter: blur(10px);
} */
