body {
  font-size: 3vw;
  background-color: #333;
  color: white;
  padding: 4rem;
  

}

.store .content {
  display: flex;
  justify-content: space-around;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 18rem;
  width: 12rem;
  object-fit: cover;
}

.card>* {
  flex-grow: 1;
}

.card-text {
  flex-grow: 3;
  /* min-height: 12rem; */
}